*.o
*.exe
*.sdf
*.opensdf
*.suo
*.ncb
*.user
*.opendb
*.filters
caper
caper.exe
Debug
Release
.vs
ipch
FTCHECK.BAT
caper.log
DomainTest
HParser.h
Calc-H-GUI
Calc-H-CUI
stdafx.h.gch
Calc-H-UTF8.cpp
HScanner-UTF8.h
