#include <windows.h>
#include <dlgs.h>

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

1 ICON "Calc-H.ico"

#if defined(__BORLANDC__) || defined(__GNUC__)
    1 24 "win.manifest"
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0, 8, 8, 0
PRODUCTVERSION  0, 8, 8, 0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
{
    // Japanese
    BLOCK "StringFileInfo"
    {
        BLOCK "041103A4"
        {
            VALUE "CompanyName", "片山博文MZ\0"
            VALUE "FileDescription", "ひらがな電卓Calc-H (CUI)\0"
            VALUE "FileVersion", "0.8.8\0"
            VALUE "LegalCopyright", "Copyright (C) 2016 片山博文MZ. All Rights Reserved.\0"
            VALUE "ProductName", "ひらがな電卓Calc-H\0"
            VALUE "ProductVersion", "0.8.8\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0411, 0x03A4
    }
}
