#include <windows.h>
#include <dlgs.h>

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

1 ICON "Calc-H.ico"

1 DIALOG 30, 0, 260, 145
STYLE WS_OVERLAPPEDWINDOW | DS_CENTER | WS_VISIBLE
CAPTION "‚Ð‚ç‚ª‚È“d‘ì (Calc-H) by •ÐŽR”Ž•¶MZ"
FONT 12, "‚l‚r ƒSƒVƒbƒN"
{
    CONTROL "", edt1, "EDIT", WS_CHILD | WS_VISIBLE | ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_NOHIDESEL | ES_READONLY | WS_CLIPSIBLINGS | WS_BORDER | WS_VSCROLL, 5, 5, 250, 115
    CONTROL "‚É‚ã‚¤‚è‚å‚­:", stc1, "STATIC", WS_CHILD | WS_VISIBLE | SS_RIGHT | WS_CLIPSIBLINGS | WS_GROUP, 5, 128, 60, 15
    CONTROL "", edt2, "EDIT", WS_CHILD | WS_VISIBLE | ES_LEFT | WS_BORDER | WS_CLIPSIBLINGS | WS_TABSTOP, 65, 125, 150, 14
    CONTROL "Enter", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | WS_CLIPSIBLINGS | WS_TABSTOP, 220, 125, 35, 14
}

#if defined(__BORLANDC__) || defined(__GNUC__)
    1 24 "Calc-H-GUI_exe.manifest"
#endif
