#include <windows.h>
#include <dlgs.h>

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

1 ICON "Calc-H.ico"

100 BITMAP "mute.bmp"
101 BITMAP "mute_off.bmp"

1 DIALOG 30, 0, 300, 145
STYLE DS_CENTER | WS_MAXIMIZEBOX | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "‚Ð‚ç‚ª‚È“d‘ì (Calc-H) by •ÐŽR”Ž•¶MZ"
LANGUAGE LANG_JAPANESE, 0x1
FONT 12, "‚l‚r ƒSƒVƒbƒN"
{
    CONTROL "", edt1, "EDIT", WS_CHILD | WS_VISIBLE | ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_NOHIDESEL | ES_READONLY | WS_CLIPSIBLINGS | WS_BORDER | WS_VSCROLL, 5, 5, 290, 115
    CONTROL "‚É‚ã‚¤‚è‚å‚­:", stc1, "STATIC", WS_CHILD | WS_VISIBLE | SS_RIGHT | WS_CLIPSIBLINGS | WS_GROUP, 30, 128, 60, 15
    CONTROL "", edt2, "EDIT", WS_CHILD | WS_VISIBLE | ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_CLIPSIBLINGS | WS_TABSTOP, 90, 125, 165, 14
    CONTROL "Enter", IDOK, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON | WS_CLIPSIBLINGS | WS_TABSTOP, 260, 125, 35, 14
    CONTROL "", psh1, "BUTTON", BS_AUTOCHECKBOX | BS_PUSHLIKE | BS_BITMAP | WS_CHILD | WS_VISIBLE, 0, 130, 14, 14 
}

#if defined(__BORLANDC__) || defined(__GNUC__)
    1 24 "Calc-H-GUI_exe.manifest"
#endif
